{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% block content %}

<div class="container">
    <div class="mt-5">
        {% if request.user.is_admin %}
            <a href="{% url 'mylog:list' %}" class="btn btn-warning fs-5 fw-bold">Go Back</a>
        {% else %}
            <a href="{% url 'mylog:daily_log' %}" class="btn btn-warning fs-5 fw-bold">Go Back</a>
        {% endif %}
    </div>
    <h1 class="fw-bold fs-2 mt-5">{{ request.user.username }}, Here is the list of your daily update tasks.
       <div class="filter-option">
            <button class="btn btn-filter btn-primary fs-5 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target=".filter-list" aria-expanded="false" aria-controls="filter-list">
                Filter
                <span>
                    <img src="{% static 'images/filter-arrow.svg' %}" alt="Filter">
                </span>
            </button>
            <button type="button" class="clear-filter btn-sm btn-secondary fs-10 fw-bold"
            style="margin-left:10px;">Clear all</button>
        </div>
    </h1>

    <!-- main div class starts -->
     <div class="collapse filter-list mt-2">
                    {% include "filters.html" %}
                </div>
    <div class="list-grid-content">
        <table id="userTable" class="table table-light table-hover table-responsive-md mt-5">
            <thead>
            <tr class="text-uppercase">
                <th style="color: #0d6efd; background-color:#6c757d66;">ID</th>
                <th style="color: #0d6efd; background-color:#6c757d66;">Date</th>
                <th style="color: #0d6efd; background-color:#6c757d66;">ProjectName</th>
                <th style="color: #0d6efd; background-color:#6c757d66;">Task</th>
                <th style="color: #0d6efd; background-color:#6c757d66;">Description</th>
                <th style="color: #0d6efd; background-color:#6c757d66;">Start Time</th>
                <th style="color: #0d6efd; background-color:#6c757d66;">End Time</th>
                <th style="color: #0d6efd; background-color:#6c757d66;">Total Hours</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in users %}
            <tr class="clickable-row-details" title="View">
                <td style="width: 50px; height: 50px;">{{obj.id}}</td>
                <td style="width: 50px; height: 50px;">{{obj.date}}</td>
                <td style="width: 50px; height: 50px;">{{obj.project_name}}</td>
                <td style="width: 50px; height: 50px;">{{obj.task}}</td>
                <td style="width: 50px; height: 50px;">{{obj.description}}</td>
                <td style="width: 50px; height: 50px;">{{obj.start_time}}</td>
                <td style="width: 50px; height: 50px;">{{obj.end_time}}</td>
                <td style="width: 50px; height: 50px;">{{obj.total_hours}}</td>
            </tr>

            </tbody>
            {% endfor %}
        </table>
    </div>
    <!-- main div class ends  -->

    <!-- Pagination div starts -->
    {% if users.has_other_pages %}
    <nav aria-label="Page navigation example">
        <span class="page-itme">{{ users }}</span>
          <ul class="pagination">
             {% if users.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.previous_page_number }}"
                       style="background-color:rgb(13 110 253 / 25%);">Previous
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
             {% endif %}
              {% for page in users.page_range %}
                    {% if page == users.number %}
                         <li class="page-item">{{ page }}</li>
                    {% else %}
                         <li class="page-item">
                             <a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
              {% endfor %}
              {% if users.has_next %}
                <li class="page-item">
                    <a class="page-link" style="background-color:rgb(13 110 253 / 25%);" href="?page={{ users.next_page_number }}">Next
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
              {% endif %}
          </ul>
    </nav>
    {% endif %}
    <!-- Pagination div ends -->

</div>

{% endblock %}